In [1]:
import re
import pandas as pd
import os

In [2]:
path = 'F:/Corpus/FRA80'

In [3]:
def extract_txt_files(folder_path):
    txt_files = []
    names = []
    for file in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file)
        if file.endswith('.txt') and os.path.isfile(file_path):
            txt_files.append(file_path)
            pat = r'E:/Corpus/FRA80\\(.*)\.utf8\.txt'
            mat = re.search(pat,file_path)
            try :
                names.append(mat.group(1))
            except:
                names.append(None)
    return txt_files, names

In [4]:
txt_files, names = extract_txt_files(path)

In [5]:
def read_txt_file(txt, name):
     print(txt)
     with open(txt, 'r', encoding ='utf8') as file:
        dicti = {}
        line_counter = 0
        temps_actuel = 'NA'
        for line in file:
            pat = r'\(\((.*)\)\)'
            match = re.search(pat, line)
            if match : 
                temps_actuel = match.group(1).replace('\xa0',' ')
            pat2 = r'(.*)\t(.*)'
            mat2 = re.search(pat2, line)
            if mat2:
                loc = mat2.group(1)
                text = mat2.group(2)
                dicti[line_counter] = {}
                dicti[line_counter]['locuteur'] = loc
                dicti[line_counter]['start'] = temps_actuel
                dicti[line_counter]['text'] = text
            else:
                continue

            line_counter += 1
            df = dict_to_dataframe(dicti, name)
        return df

In [6]:
def dict_to_dataframe(data_dict, name):
    df = pd.DataFrame.from_dict(data_dict, orient='index')
    df = df[['locuteur', 'start', 'text']]
    df['corpus'] = 'FR80'
    df['enregistrement'] = name
    return df

In [ ]:
liste_df = [read_txt_file(txt, name) for txt, name in list(zip(txt_files, names))]

F:/Corpus/FRA80\F20.utf8.txt
F:/Corpus/FRA80\Fa13.utf8.txt
F:/Corpus/FRA80\Fa6.utf8.txt
F:/Corpus/FRA80\Fa17.utf8.txt
F:/Corpus/FRA80\Fa25.utf8.txt

In [42]:
all_ = pd.concat(liste_df)

In [44]:
all_

,locuteur,start,text,corpus,enregistrement
0,EF,00 :00 :00,en premier je je tiens à vous rappeler que don...,FR80,F20
1,FR20,00 :00 :00,m (?),FR80,F20
2,EF,00 :00 :00,bien entendu je tiens à vous dire euh et à vou...,FR80,F20
3,FR20,00 :00 :00,"(clic?) pas. l""école l'école quand je faisais ...",FR80,F20
4,EF,00 :00 :00,oui. mm. alors peut-être vous pouvez peut-être...,FR80,F20
...,...,...,...,...,...
1976,HR24,00 :40 :02,puis alors ils étaient pas assurés :,FR80,HR24
1977,EF,00 :40 :02,ah là là!,FR80,HR24
1978,HR24,00 :40 :02,pas assurés comme il faut quoi,FR80,HR24
1979,EF,00 :40 :02,comme il faut oui,FR80,HR24
1980,F1,00 :40 :02,xxx André?,FR80,HR24

In [45]:
all_.to_csv('E:/Corpus/FRA80/total_fra801905.csv')